@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.pokebola-home{
  cursor: pointer;
  transition: 0.5s;
}

.pokebola-home:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
